.marketPlaceSection .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    padding: 0 20px;
}


.marketPlaceSection .card {
    max-width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    overflow: hidden;
}

.marketPlaceSection .card .imageCont {
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.marketPlaceSection .card .textCont {
    height: 350px;
}

.marketPlaceSection .card img {
    width: 200px;
    object-fit: contain;
    object-position: center;
}

.marketPlaceSection .card h2 {
    font-size: 18px;
    font-weight: 900;
    color: var(--e-global-color-primary);
    margin-bottom: 10px;
}

.marketPlaceSection .card p {
    font-size: 12px;
    color: #000000;
    margin-bottom: 20px;
    line-height: 1.5;
}

.marketPlaceSection .card .services {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    font-size: 0.85em;
    color: #000000;
}

.marketPlaceSection .card .services b {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.marketPlaceSection .card .services ul {
    /* list-style: none; */
    list-style: var(--e-global-color-primary);
    padding-left: 10px;
    text-align: left;
}

.marketPlaceSection .card .services li {
    line-height: 1.6;
}

li::marker {
    color: var(--e-global-color-primary);
    /* Set bullet or number color */
}


@media(max-width:1000px) {

    .marketPlaceSection .cardsContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(max-width:500px) {
    .marketPlaceSection .cardsContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}